* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 1rem;
       
}

h1 {
	color: orange;
}

.date  {
    color: blue;
}

.time  {
    color: green;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    margin-top: 50px;
}

.section {
    background-color: lightgray;
    margin: 0 auto;
    border: 10px solid green;
    padding: 10px;
    font-size: 20px;
    margin-top: 15px;
}